.row
  .col-lg-8.col-lg-offset-2
    .row
      .col-lg-12
        .row
          .col-sm-9.col-sm-offset-3
            %h1= t('edit', model: Appointment.model_name.human)
        %hr

        = render 'form', appointment: @appointment
