%h1 AGB`s
%h2 Verschwiegenheitserklärung
%p 
  Durch die Anerkennung der AGBs von dolmatch verpflichtet sich derjenige dazu, sämtliche Informationen, welche in Ausübung im Rahmen der von dolmatch vermittelnden Übersetzungen und anderen Tätigkeiten anvertraut oder bekannt werden, vertraulich zu behandeln und hierüber gegenüber Dritten Stillschweigen zu wahren.
  Die Verschwiegenheitserklärung erstreckt sich insbesondere auf
  %br/
  %br/ 
  1.    die persönlichen Informationen und Kontaktdaten jeglicher Kooperationspartner (Sprachmittelnde, Geflüchtete, Sozialarbeiter_Innen und Flüchtlingsheime sowie weitere kooperierende  Einrichtungen von dolmatch.)
  %br/
  %br/ 
  2.    alle Informationen und vertrauliche Daten, die
  %br/
  %br/ 
  3.    Aufgabenerfüllung gehörenden Zweck zu verarbeiten, bekannt zu geben, zugänglich zu machen oder sonst zu nutzen.
  Änderungen und Ergänzungen dieser Vereinbarung bedürfen der Schriftform. Dies gilt auch für die Aufhebung des Schriftformerfordernisses.
  Sollten sich einige oder mehrere Bestimmungen dieser Vereinbarung als unwirksam erweisen, so berührt dies die Wirksamkeit der übrigen Bestimmungen nicht. Die Vertragspartner verpflichten sich, die unwirksame Bestimmung durch eine Regelung zu ersetzen, welche dem wirtschaftlichen Zweck der ursprünglich gewollten Bestimmung möglichst nahe kommt.

%h1 Allgemein
%p Für Dolmatch ist der Schutz und die Vertraulichkeit der Daten von Geflüchteten und DolmetscherInnen ausgesprochen wichtig. Die Erhebung und Verwendung von personenbezogenen Daten erfolgt ausschließlich im Rahmen der gesetzlichen Bestimmungen des geltenden Datenschutzrechts der Bundesrepublik Deutschland. Gegenstand des Datenschutzes sind personenbezogene Daten. Diese sind nach § 3 Abs. 1 BDSG Einzelangaben über persönliche oder sachliche Verhältnisse einer bestimmten oder bestimmbaren natürlichen Person. Hierunter fallen z.B. Angaben wie Name, Adresse, Telefonnummer, E-Mail-Adresse. Für die Nutzung unseres Vermittlungsdienstes „Dolmatch“ ist es nicht erforderlich, dass alle personenbezogenen Daten preisgegeben werden müssen.
Dolmatch verwendet die Daten von den DolmetscherInnen ausschließlich, um in den direkten Kontakt mit den Flüchtlingseinrichtungen, Geflüchteten und den DolmetscherInnen zu treten.
Bei passenden Gesuchen werden die DolmetscherInnen über das Programm „Dolmatch“ umgehend informiert. Dafür werden die nötigen Kontaktdaten wie zum Beispiel die E-Mail Adresse und die Telefonnummer gespeichert.
Die Daten werden vertraulich behandelt, werden nicht an Dritte weitergeben und dienen nur zur Zusammenführung des Geflüchteten und der DolmetscherInnen.
Wenn weitere Fragen zum Thema Datenschutz und zur Verarbeitung der persönlichen Daten offen sind, so wende dich direkt an uns. Kontakt von Dolmatch
