.mission-statement= t('.mission_statement')

= link_with_icon(organisation_appointments_path, 'institution', Organisation.model_name.human, 'btn btn-default btn-primary' )
= link_with_icon(interpreter_appointments_path, 'male', Interpreter.model_name.human, 'btn btn-default btn-primary')
