@import 'variables'

h1, h2
  font-family: 'roboto cond light'
h1
  color: $gray-light
  font-weight: lighter
h2
  margin-top: 50px
  margin-bottom: 30px

.header
  background: $primary-color
  padding-top: 10px
  padding-bottom: 10px
  small
    padding-left: 20px
    vertical-align: sub


.mission-statement
  margin-top: 50px
  margin-bottom: 50px
  font-family: 'roboto cond light'
  color: white
  font-size: 30px

.footer
  background: $gray-lighter
  margin-top: 50px
  padding-top: 10px
  padding-bottom: 40px
  width: 100%

.panel.empty
  background: $gray-lightest
  padding-top: 30px
  padding-bottom: 30px
  a
    margin-top: 30px

nav
  display: inline-block
  height: 100%
  ul > li
    padding-left: 10px
    padding-right: 10px
    display: inline-block
    list-style: none
    a
      color: $gray-lighter
    >a:hover, &.active > a
      color: white
      text-decoration: none
      background-color: darken($primary-color, 10%)

.panel.user
  margin-top: 20px
  padding: 20px
  background: $gray-lightest

.urgent
  color: #ff5505

.filters-head
  font-size: 12px
  text-transform: uppercase
  margin-top: 10px
  margin-bottom: 5px

.filters-content
  padding: 20px 20px 0 0

.row.information
  margin-top: 20px
  margin-bottom: 20px
.devise-container
  max-width: 800px
  margin: auto
  position: relative
  text-align: center

.devise-views
  max-width: 600px
  margin: auto
  margin-top: 40px
