@import 'variables'

h1
  color: $gray-light
  font-weight: lighter
  //font-family: 'roboto cond light'

select.time
  max-width: 40px
  display: inline-block

.header
  background: $primary-color
  padding-top: 10px
  padding-bottom: 10px

.footer
  background: $gray-lighter
  padding-top: 10px
  padding-bottom: 40px

.mission-statement
  margin-top: 50px
  margin-bottom: 50px
  font-family: 'roboto cond light'
  color: white
  font-size: 30px

.devise-container
  max-width: 800px
  margin: auto
  position: relative
  text-align: center

.devise-views
  max-width: 600px
  margin: auto
  margin-top: 40px
