@import 'variables'

input, select, .form-control
  color: white
  background-color: $primary-color

.language-select
  height: 30px
  select
    color: white
    background-color: #565772
    border: none


select
  -webkit-border-radius: 2px

.filters-content
  label
    color: white

select.time
  max-width: 40px
  display: inline-block
