@import 'variables'

.landing-page
  .header
    background: none
    .container
      padding-top: 10px
      padding-bottom: 20px
      border-bottom: 2px solid #ddd
  .big-image
    background: image-url('landing_page_bg.png') no-repeat 

.mission-panel
  background: #fff
  color: $gray-light
  padding-top: 15px
  padding-bottom: 20px
  padding-left: 30px
  padding-right: 30px
  margin-left: 10px
  margin-right: 10px
  margin-top: 20px
  margin-bottom: 20px
  .panel-title
    font-size: 20px
  .panel-content
    padding-top: 20px
  .btn
    display: block
    margin-top: 20px
