$gray-lighter: #efefef
$gray-light: #808080
$primary-color: #2a2c4a
$secondary-color: #64717a
$btn-default-bg: $primary-color
$btn-primary-bg: #46af4a
$btn-info-bg: $primary-color
$btn-default-bg: #fff

$border-radius-base:   0px !default
$border-radius-large:  0px !default
$border-radius-small:  0px !default

@font-face
  font-family: 'roboto cond light'
  src: font-url('Roboto-Light-webfont.woff') format('truetype')
