$gray-lightest: #efefef
$gray-lighter: #eee
$gray-light: #808080
$gray-dark: #333
$primary-color: #68c2cb
$secondary-color: #64717a
$btn-default-bg: $primary-color
$btn-primary-bg: #f08038
$btn-info-bg: $primary-color
$btn-default-bg: #fff

$border-radius-base:   2px !default
$border-radius-large:  2px !default
$border-radius-small:  2px !default

@import 'https://fonts.googleapis.com/css?family=Roboto:300&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese'

@font-face
  font-family: 'Roboto', sans-serif
