$body-bg: #f9af1c
$btn-primary-bg: #f9af1c
$btn-default-bg: #fff
$btn-default-border: #4276bb
$btn-primary-border: #4276bb

@font-face
  font-family: 'roboto cond light'
  src: url('assets/RobotoCondensed-LightItalic.ttf') format('truetype')
  font-weight: normal
  font-style: normal
